In [ ]:
Q1. Write an SQL query to print the FIRST_NAME from Worker table after replacing ‘a’
with ‘A’.

In [ ]:
#Answer:
SELECT REPLACE(FIRST_NAME,'a','A') FROM Wokrer;

In [ ]:
Q2. Write an SQL query to print all Worker details from the Worker table order by
FIRST_NAME Ascending and DEPARTMENT Descending.

In [ ]:
#Answer:
SELECT * FROM Worker ORDER BY FIRST_NAME ASC, LAST_NAME DESC;

In [ ]:
Q3. Write an SQL query to fetch the names of workers who earn the highest salary.

In [ ]:
#Answer:
SELECT FIRST_NAME, LAST_NAME FROM Worker WHERE SALARY = (SELECT MAX(SALARY) FROM Worker);