In [ ]:
Q1. Write an SQL query to print the first three characters of FIRST_NAME from Worker table.

In [ ]:
#Answer:
SELECT SUBSTRING(FIRST_NAME,1,3) FROM Worker;

In [ ]:
Q2. Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.

In [ ]:
#Answer:
SELECT POSITION('a' IN FIRST_NAME) FROM Worker WHERE FIRST_NAME = 'Amitabh';

In [ ]:
Q3. Write an SQL query to print the name of employees having the highest salary in each
department.

In [ ]:
#Answer:
SELECT first_name, last_name, salary, department FROM Worker w WHERE salary = (SELECT MAX(salary) FROM Worker WHERE department = w.department)