In [ ]:
Q13. Write an SQL query to show only odd rows from aÂ table.

In [ ]:
#Answer:
SELECT * FROM Worker Where MOD(worker_id,2) = 1

In [ ]:
Q14. Write an SQL query to clone a new table from another table.

In [ ]:
#Answer:
# Code to Create a New table
CREATE TABLE Worker2 (
    WORKER_ID INT NOT NULL AUTO INCREMENT PRIMARY KEY,
    FIRST_NAME VARCHAR(20),
    LAST_NAME VARCHAR(20),
    SALARY INT,
    DEPARTMENT VARCHAR(20),
    JOINING_DATE DATETIME);

# Code to Clone content of a table to another table i.e Worker2:
INSERT INTO Worker2 SELECT * FROM Worker;