In [ ]:
Q1. Write an SQL query to print details of workers excluding first names, “Vipul” and
“Satish” from Worker table.

In [ ]:
#Answer:
SELECT * FROM Worker WHERE FIRST_NAME NOT IN ('Vipul','Satish');

In [ ]:
Q2. Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets.

In [ ]:
#Answer:
SELECT * FROM Worker WHERE FIRST_NAME LIKE '______h';

In [ ]:
Q3. Write a query to validate Email of Employee.

In [ ]:
#Answer:
SELECT * FROM Worker WHERE email LIKE "_%@_%._%"