In [ ]:
Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
#Answer:
SELECT * FROM Worker WHERE JOINING_DATE LIKE "%2014-02%"

In [ ]:
Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
#Answer:
SELECT column_name, COUNT(column_name) FROM Worker GROUP BY FEILD HAVING COUNT(column_name) > 1;

In [ ]:
Q-3. How to remove duplicate rows from Employees table.

In [ ]:
#Answer:
CREATE TABLE Employee (
    ID INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    COUNTRY VARCHAR(50)
);
INSERT INTO Employee VALUES 
(1,'Gaurav','Satam','MUMBAI'),
(2,'Gaurav','Satam','MUMBAI'),
(3,'Gaurav','Satam','MUMBAI'),
(4,'Aditya','Patil','Ireland'),
(5,'Aditya','Patil','Ireland'),
(6,'Aditya','Patil','Ireland');

DELETE e1.* from Employee e1 INNER JOIN Employee e2 WHERE e1.id > e2.id AND e1.FIRST_NAME = e2.FIRST_NAME AND e1.LAST_NAME = e2.LAST_NAME AND e1.COUNTRY = e2.COUNTRY